.my-theme {
    --color-background-sidebar: #F49D40;
    --color-main-background: #F6F5AE;
    --color-text-primary: #565554;
    --color-text-headings:#F24236;
    --color-text-work-experience: #000000;
    --color-accent:  #F24236;
    --color-languages-text: #565554;
}