.main-theme {
    --color-background-sidebar: #86A3B4;
    --color-main-background: #FFFFFF;
    --color-text-primary: #263036;
    --color-text-headings: #1E1E1E;
    --color-text-work-experience: #000000;
    --color-accent:  #1C2E8C;
    --color-languages-text: #1E1E1E;
}